body {
  width: 100vw;
  height: 100vh;
  background-color: #f8f0e3;
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b20000;
  margin: 0.75rem 0.75rem 0;
}

header h1 {
  color: white;
  margin: 0.5rem 0 0.5rem 1rem;
}

header .link-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 1rem;
}

header .home {
  text-decoration: none;
}

header .link {
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0 0.5rem 0;
  color: white;
}

header .link.active {
  text-decoration: underline;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  height: 2.25rem;
}

.btn.primary {
  background-color: #b20000;
  border-color: #b20000;
  color: white;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .btn.primary.search,
  .btn.primary.favorite,
  .btn.primary.save {
    width: 60%;
  }
}

/* Tablet and Desktop */
@media screen and (min-width: 769px) {
  .btn.primary.search,
  .btn.primary.favorite,
  .btn.primary.save {
    width: 50%;
  }
}

.btn-container,
.btn-container-col {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.btn-container {
  justify-content: center;
  align-items: center;
}

.btn-container-col {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0.75rem;
  height: auto;
  width: auto;
}

.home-container {
  display: flex;
  gap: 1rem;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }
}

.home-container .form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.25rem solid black;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.home-container .form-container form {
  display: flex;
  flex-direction: column;
}

.home-container .results-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.25rem solid black;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.results-container > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .home-container .form-container,
  .home-container .results-container {
    width: 100%;
  }

  .results-container {
    margin-bottom: 1rem;
  }

  .results-container h2 {
    margin: 0;
  }
}

/* Tablet & Desktop */
@media screen and (min-width: 769px) {
  .home-container .form-container {
    flex-basis: 35%;
  }

  .home-container .results-container {
    flex-grow: 1;
  }
}

.icon-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
}

.input-term,
.input-radius,
.input-location {
  display: flex;
  margin-bottom: 0.25rem;
  height: 1.5em;
}

.input-term #term,
.input-radius #radius,
.input-location #location {
  flex-grow: 1;
}

.radius-unit {
  margin-left: 0.5rem;
}

.price-points {
  display: flex;
  flex-direction: column;
}

.price-point {
  font-size: 0.9rem;
}

.price-point label,
.price-point-checkbox,
.input-open_now label {
  cursor: pointer;
}

.input-open_now {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#open_now,
input.price-point {
  cursor: pointer;
}

.business {
  display: flex;
  width: 100%;
  height: 100%;
}

.business h1,
.business h4,
.business h5 {
  margin: 0;
}

.business-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.business-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
}

.business-name-category {
  display: flex;
  flex-direction: column;
}

.business-image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.business-image img {
  border-radius: 1.5rem;
  padding: 0 0.5rem 0;
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  .business-image img {
    display: none;
  }
}

@media screen and (min-width: 321px) and (max-width: 400px) {
  .business-image img {
    height: 80px;
    width: 80px;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  .business-image img {
    height: 120px;
    width: 120px;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .business-image img {
    height: 150px;
    width: 150px;
  }
}

@media screen and (min-width: 769px) {
  .business-image img {
    height: 200px;
    width: 200px;
  }
}

.business-address {
  display: flex;
  margin: 0.5rem 0 0;
}

.business-address i,
.business-phone i,
.business-website i {
  margin-right: 0.5rem;
}

.business-website {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.business-website a {
  color: unset;
  text-decoration: none;
}

.business-website a:hover {
  color: #b20000;
}

.business-phone {
  display: flex;
  align-items: center;
}

.business-categories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.75rem;
  font-weight: bold;
}

.business-categories .bi-dot {
  font-weight: bold;
  font-size: 1.125rem;
}

.business-label {
  margin-top: 0.125rem;
  margin-right: 0.25rem;
}

.business-category {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.75px;
  border-width: 1px;
  border-color: rgb(133, 133, 133);
  border-style: solid;
  background-color: white;
  padding: 0 0.5rem 0;
  margin-top: 0.125rem;
}

.business-reviews {
  display: flex;
  align-items: center;
}

.business-reviews .bi-star {
  margin-right: 0.25rem;
}

.business-open {
  display: flex;
  font-size: 1.125rem;
  font-weight: bold;
}

.business-open .closed {
  color: red;
}

.business-open .open {
  color: green;
}

/* Tablet and Desktop */
@media screen and (min-width: 769px) {
  .saved-list,
  .favorites-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .saved-list div,
  .favorites-list div {
    max-width: 750px;
  }
}

.saved-list-container,
.favorites-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saved-list-container h2,
.favorites-list-container h2 {
  margin: 0;
}

.business-item-container {
  border: 0.25rem solid black;
  border-radius: 0.25rem;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1rem;
}
