html,
body {
  width: 100vw;
  height: 100vh;
  background-color: #f8f0e3;
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b20000;
  margin: 0.75rem;
}

header h1 {
  color: white;
  margin: 0.5rem 0 0.5rem 1rem;
}

header .link-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 1rem;
}

header .home {
  text-decoration: none;
}

header .link {
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0 0.5rem 0;
  color: white;
}

header .link.active {
  text-decoration: underline;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  border-radius: 0.25rem;
  height: 2rem;
  font-size: 1rem;
  cursor: pointer;
}

.btn.primary {
  background-color: #b20000;
  border-color: #b20000;
  color: white;
}

.btn.primary.search {
  width: 60%;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0.75rem;
  height: inherit;
  /* 100% of the width minus the padding / margin */
  width: calc(100% - 1.5rem);
}

.home-container {
  display: flex;
}

.home-container .form-container {
  flex-basis: 500px;
  border: 0.25rem solid black;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.home-container .form-container form {
  display: flex;
  flex-direction: column;
}

.home-container .results-container {
}

.icon-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
}

.input-radius,
.input-location {
  display: flex;
}

.input-radius #radius,
.input-location #location {
  flex-grow: 1;
}

.radius-unit {
  margin-left: 0.5rem;
}

.price-points {
  display: flex;
  flex-direction: column;
}

.price-point {
  font-size: 0.9rem;
}

input.price-point {
  cursor: pointer;
}
