<header>
  <LinkTo @route='home' class='home'><h1>Not Yelp</h1></LinkTo>
  <div class='link-group'>
    <LinkTo @route='saved-for-later' class='link'>Saved for Later</LinkTo>
    <LinkTo @route='favorites' class='link'>Favorties</LinkTo>
  </div>
</header>