{{! Saved for Later template }}
<div class='saved-list'>
  <div class='saved-list-container'>
    <h2>My Saved for Later</h2>

    {{! Saved for Later list component }}
    <SavedList />
  </div>
</div>